/*--charte graphique--*/
.stages {
  display: grid;
  grid-template-rows: repeat(4, 0fr);
  grid-row-gap: 1.5rem;
  grid-template-areas: "a" "b" "c" "d";
}

.title {
  grid-area: a;
}

.stage1 {
  grid-area: b;
}

.stage2 {
  grid-area: c;
}

.stage3 {
  grid-area: d;
}

.restaurants__choices {
  display: grid;
  grid-template-rows: repeat(5, 0fr);
  row-gap: 2rem;
  grid-template-areas: "a" "b" "c" "d" "e";
}

.title__2 {
  grid-area: a;
}

.palette__du__gout {
  grid-area: b;
}

.la__note__enchantee {
  grid-area: c;
}

.a__la__francaise {
  grid-area: d;
}

.le__delice {
  grid-area: e;
}

.detail {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a a" "b c";
}

p.detail__name {
  grid-area: a;
}

p.detail__name__description {
  grid-area: b;
}

p.detail__name__description__price {
  grid-area: c;
}

@media screen and (min-width: 1024px) {
  .stages {
    display: grid;
    grid-template-rows: repeat(1, 4fr);
    grid-row-gap: 2rem;
    grid-template-areas: "a b c d";
  }

  .title {
    grid-area: a;
  }

  .stage1 {
    grid-area: b;
  }

  .stage2 {
    grid-area: c;
  }

  .stage3 {
    grid-area: d;
  }

  .restaurants__choices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0vw;
    column-gap: 0.5rem;
    grid-template-areas: "a a a a" "b c d e";
  }

  .title__2 {
    grid-area: a;
  }

  .palette__du__gout {
    grid-area: b;
  }

  .la__note__enchantee {
    grid-area: c;
  }

  .a__la__francaise {
    grid-area: d;
  }

  .le__delice {
    grid-area: e;
  }

  .footer__content {
    display: grid;
    grid-template-areas: "a a a a" "b c d e";
  }

  .title__footer {
    grid-area: a;
  }

  .footer__service1 {
    grid-area: b;
  }

  .footer__service2 {
    grid-area: c;
  }

  .footer__service3 {
    grid-area: d;
  }

  .footer__service4 {
    grid-area: e;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas: "a b c";
  }

  .menu__choice1 {
    grid-area: a;
  }

  .menu__choice2 {
    grid-area: b;
  }

  .menu__choice3 {
    grid-area: c;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1310px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 4rem;
    grid-template-areas: "a b" "c c";
  }

  .menu__choice1 {
    grid-area: a;
    width: 20rem;
  }

  .menu__choice2 {
    grid-area: b;
    width: 20rem;
  }

  .menu__choice3 {
    grid-area: c;
    width: 20rem;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
  .stages {
    display: grid;
    grid-template-rows: repeat(1, 4fr);
    grid-row-gap: 1rem;
    grid-template-areas: "a" "b" "c" "d";
  }

  .title {
    grid-area: a;
  }

  .stage1 {
    grid-area: b;
  }

  .stage2 {
    grid-area: c;
  }

  .stage3 {
    grid-area: d;
  }

  .restaurants__choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 0;
    grid-template-areas: "a a" "b c" "d e";
  }

  .title__2 {
    grid-area: a;
  }

  .palette__du__gout {
    grid-area: b;
  }

  .la__note__enchantee {
    grid-area: c;
  }

  .a__la__francaise {
    grid-area: d;
  }

  .le__delice {
    grid-area: e;
  }

  .footer__content {
    display: grid;
    grid-template-areas: "a a" "b c" "d e";
  }

  .title__footer {
    grid-area: a;
  }

  .footer__service1 {
    grid-area: b;
  }

  .footer__service2 {
    grid-area: c;
  }

  .footer__service3 {
    grid-area: d;
  }

  .footer__service4 {
    grid-area: e;
  }
}
footer {
  background-color: #353535;
  height: 15rem;
}

h3.title__footer {
  font-family: "Shrikhand";
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0 0 0 0;
  color: white;
}

.footer__content {
  margin-left: 2rem;
}

.footer__service1, .footer__service2, .footer__service3, .footer__service4 {
  color: white;
  font-weight: normal;
  padding-bottom: 0.5rem;
}

i.fas.fa-utensils {
  padding-right: 1rem;
}

i.fas.fa-hands-helping {
  padding-right: 0.5rem;
}

a.contact {
  text-decoration: none;
  color: white;
  margin: 0 0 0 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.back {
  position: absolute;
  left: 1rem;
  top: 1.7rem;
}

.loading {
  position: fixed;
  background: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: load 3s forwards;
  pointer-events: none;
}

@keyframes load {
  0% {
    opacity: 1;
    /*1*/
  }
  80% {
    opacity: 1;
    /*1*/
  }
  100% {
    opacity: 0;
  }
}
#content {
  animation: apparait 3.5s forwards;
}

/*3.5*/
@keyframes apparait {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lettre {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #484848;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 1rem #9356DC;
  }
  40% {
    color: #FF79DA;
    text-shadow: 0 0 1rem #FF79DA;
  }
  70% {
    color: #99E2D0;
    text-shadow: 0 0 1rem #99E2D0;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 1rem #9356DC;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.btn__exploration {
  padding: 1.2rem 2rem 1.2rem 2rem;
  border-radius: 2rem;
  color: #fff;
  border: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0 1rem 1rem -1rem #000;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.btn__order {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 2rem;
  color: #fff;
  border: none;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0 1rem 1rem -1rem #000;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.3rem;
  margin-left: 7rem;
}

.btn__order:hover, .btn__exploration:hover {
  filter: brightness(1.2);
  box-shadow: 0 1rem 2rem black;
}

.menu__picture {
  width: 100%;
}

.set__menu {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  padding: 1rem;
  padding-bottom: 3rem;
}

.choice1, .choice2, .choice3, .choice4 {
  background: white;
  border-radius: 1rem;
  line-height: 0.9rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.detail {
  margin-left: 1rem;
}

.detail__name__description__price {
  display: flex;
  align-items: flex-end;
  position: absolute;
  justify-content: flex-end;
  margin: 0;
  right: 1rem;
  top: 3rem;
}

.name {
  display: flex;
  justify-content: space-around;
  font-family: "shrikhand";
  font-size: 1.5rem;
  margin-left: -2rem;
}

p.detail__name {
  font-weight: bold;
  font-size: 1.2rem;
}

p.detail__name__description__price {
  font-weight: bold;
}

i.far.fa-heart {
  display: flex;
  align-items: center;
}

.palette__du__gout {
  z-index: 1;
}

.fa-heart {
  font-size: 2rem;
}

.container {
  transform: translate(-50%, -50%);
}

.heart {
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-text-stroke: 2px white;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

/*-----animation chargement des menus---*/
.choice1 {
  transform-origin: bottom;
  animation-name: plats-progress;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.choice2 {
  transform-origin: bottom;
  animation-name: plats-progress;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-delay: 300ms;
}

.choice3 {
  animation-delay: 90ms;
  transform-origin: bottom;
  animation-name: plats-progress;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-delay: 700ms;
}

.choice4 {
  transform-origin: bottom;
  animation-name: plats-progress;
  animation-duration: 2000ms;
  animation-fill-mode: both;
  animation-delay: 200ms;
}

@keyframes plats-progress {
  from {
    opacity: 0;
    transform: translateY(10vw);
  }
  to {
    opacity: 1;
    transform: translateY(0vw);
  }
}
/*-------------animation plat---------*/
i.fas.fa-check-circle {
  color: white;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  margin: -1rem;
}

i.fas.fa-check-circle:active {
  color: white;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  margin: -1rem;
}

.choice1:hover i.fas.fa-check-circle {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -ms-transition: -ms-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
}

.choice2:hover i.fas.fa-check-circle {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -ms-transition: -ms-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
}

.choice3:hover i.fas.fa-check-circle {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -ms-transition: -ms-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
}

.choice4:hover i.fas.fa-check-circle {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -ms-transition: -ms-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
}

@media screen and (min-width: 1024px) {
  i.fas.fa-check-circle {
    font-size: 1rem;
    top: 85%;
    left: 60%;
  }

  .check {
    width: 3rem;
    background-color: #99E2D0;
    position: absolute;
    color: #fff;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    height: 100%;
    top: 0;
    right: -5rem;
  }
}
@media screen and (max-width: 500px) {
  .check {
    background-color: #99E2D0;
    position: absolute;
    color: #fff;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    height: 100%;
    width: 4rem;
    top: 0;
    right: -5rem;
  }
}
.choice1, .choice2, .choice3, .choice4 {
  position: relative;
  overflow: hidden;
}

.choice1:hover > .check {
  animation: mouvement1 0.3s linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.choice2:hover > .check {
  animation: mouvement1 0.3s linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.choice3:hover > .check {
  animation: mouvement1 0.3s linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.choice4:hover > .check {
  animation: mouvement1 0.3s linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes mouvement1 {
  from {
    right: -6rem;
  }
  to {
    right: 0rem;
  }
}
.detail:hover .detail__name__description__price {
  animation: mouvement2 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes mouvement2 {
  from {
    right: 15px;
  }
  to {
    right: 22%;
  }
}
.detail__name__description__price {
  animation: mouvement3 0.4s forwards;
  margin-right: 0.5rem;
}

@keyframes mouvement3 {
  from {
    right: 22%;
  }
  to {
    right: 15px;
  }
}
.detail__name__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  animation: textWidthTwo 0.5s linear;
}

@keyframes textWidthTwo {
  0% {
    width: 65%;
  }
  50% {
    width: 85%;
  }
  100% {
    width: 90%;
  }
}
.detail:hover .detail__name__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 65%;
  animation: textwidth 0.4s linear;
}

@keyframes textwidth {
  0% {
    width: 90%;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 65%;
  }
}
.menu h4::after {
  display: block;
  content: "";
  height: 3px;
  width: 30px;
  background: #99E2D0;
}

h4 {
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  .place {
    background-color: #eaeaea;
    width: 100%;
    height: 3rem;
  }

  .fa-map-marker-alt {
    padding-right: 1rem;
  }

  .where {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  /*--exploration---*/
  .exploration {
    background-color: #f6f6f6;
    height: 0;
    padding: 4rem 0rem 10rem 1rem;
    text-align: center;
    display: grid;
    grid-template-areas: "a c" "b c";
  }

  .description__title {
    grid-area: a;
    width: 100%;
    font-size: 1rem;
  }

  .description {
    grid-area: b;
    width: 100%;
    color: gray;
    font-size: 1rem;
  }

  .btn__exploration {
    grid-area: c;
    width: 15rem;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 2rem;
  }

  .stages {
    margin-top: 3rem;
  }

  .title {
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .stage1, .stage2, .stage3 {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    width: 14rem;
    height: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem -1rem #00000045;
    font-size: 0.9rem;
  }

  .stage1:hover, .stage2:hover, .stage3:hover {
    background-image: linear-gradient(to right, #99E2D0, #FF79DA, #9356DC);
    box-shadow: 0 1rem 2rem black;
  }

  .fas.fa-list-ul, .fas.fa-store, .fas.fa-mobile-alt {
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
  }

  .numbers {
    margin-left: -2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    width: 2.5rem;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    align-items: center;
  }

  .title__2__place {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .restaurants__choices {
    background-color: #F6F6F6;
    margin-top: 2rem;
    padding-left: 2rem;
    height: 23rem;
  }

  .pictures {
    width: 13rem;
    height: 10rem;
    border-radius: 1rem 1rem 1rem 1rem;
    background-size: cover;
  }

  .new {
    position: absolute;
    margin-left: 12vw;
    background-color: #99E2D0;
    color: #008766;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 5%;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    margin-left: 0vw;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 13rem;
    height: 14rem;
    line-height: 1.4rem;
  }

  .palette__du__gout:hover, .a__la__francaise:hover {
    background-image: linear-gradient(to left, #99E2D0, #9356DC);
  }

  .la__note__enchantee:hover, .le__delice:hover {
    background-image: linear-gradient(to right, #FF79DA, #99E2D0);
  }

  .mention__place {
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
  }

  .title__restaurant {
    margin-bottom: 0vw;
    margin-top: 0;
    font-size: 1vw;
  }

  a.link {
    text-decoration: none;
    color: black;
  }

  .text__position {
    margin-left: 3vw;
  }

  footer {
    margin-top: 0;
    height: 15vw;
  }

  h3.title__footer {
    display: flex;
    justify-content: start;
    padding-top: 3vw;
    padding-bottom: 2vw;
  }

  i.fas.fa-utensils {
    padding-right: 1vw;
  }

  i.fas.fa-hands-helping {
    padding-right: 1vw;
  }

  a.contact {
    text-decoration: none;
    color: white;
    margin: 0 0 0 0;
  }

  .btn__order {
    margin-left: 33vw;
    font-size: 3vw;
    padding: 1vw 3vw 2vw 2vw;
  }
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  .place {
    background-color: #eaeaea;
    width: 100%;
    height: 3rem;
  }

  .fa-map-marker-alt {
    padding-right: 1rem;
  }

  .where {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  .exploration {
    background-color: #f6f6f6;
    height: 10rem;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
    display: grid;
    grid-template-areas: "a c" "b c";
  }

  .description__title {
    grid-area: a;
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }

  .description {
    grid-area: b;
    width: 100%;
    margin: 0;
    color: gray;
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .btn__exploration {
    grid-area: c;
    height: 4rem;
    width: 13rem;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0rem;
  }

  .stages {
    margin-left: 9vw;
  }

  .title {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    justify-content: start;
  }

  .stage1, .stage2, .stage3 {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -1rem #00000045;
    font-size: 1.2rem;
  }

  .stage1:hover, .stage2:hover, .stage3:hover {
    background-image: linear-gradient(to right, #99E2D0, #FF79DA, #9356DC);
    box-shadow: 0 1rem 2rem black;
  }

  .fas.fa-list-ul, .fas.fa-store, .fas.fa-mobile-alt {
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
  }

  .numbers {
    margin-left: -2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    width: 2rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;
  }

  .title__2__place {
    justify-content: center;
    display: flex;
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .restaurants__choices {
    background-color: #F6F6F6;
    margin-top: 3rem;
    padding-left: 2rem;
    height: 36rem;
  }

  .pictures {
    width: 100%;
    height: 70%;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
    object-fit: cover;
  }

  .new {
    position: absolute;
    margin-left: 22%;
    background-color: #99E2D0;
    color: #008766;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5%;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    margin-left: 0;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 90%;
    height: 13rem;
    line-height: 1rem;
  }

  .palette__du__gout:hover, .a__la__francaise:hover {
    background-image: linear-gradient(to left, #99E2D0, #9356DC);
  }

  .la__note__enchantee:hover, .le__delice:hover {
    background-image: linear-gradient(to right, #FF79DA, #99E2D0);
  }

  .mention__place {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  .title__restaurant {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
  }

  a.link {
    text-decoration: none;
    color: black;
  }

  .text__position {
    margin-left: 1rem;
    line-height: 1.5rem;
  }

  footer {
    margin-top: 0;
    height: 10rem;
  }

  h3.title__footer {
    display: flex;
    justify-content: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  i.fas.fa-utensils {
    padding-right: 1rem;
  }

  i.fas.fa-hands-helping {
    padding-right: 1rem;
  }

  a.contact {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
  }

  .footer__service3 {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .description__title {
    width: 100%;
    margin-left: 0;
  }

  .logo {
    width: 100%;
  }

  .place {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    align-items: center;
    width: 100%;
    height: 3rem;
  }

  .where {
    margin-right: 3rem;
  }

  i.fas.fa-map-marker-alt {
    padding-right: 1rem;
  }

  .description {
    width: 100%;
    color: gray;
    font-size: 1.5rem;
  }

  .exploration {
    background-color: #f6f6f6;
    padding: 1rem 1rem 3rem 1rem;
    text-align: center;
  }

  /*fonctionnement*/
  .stages {
    width: 85%;
    padding-left: 2rem;
  }

  .stage1, .stage2, .stage3 {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem -1rem #00000045;
  }

  .title {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: -0.5rem;
  }

  .stage1:active, .stage2:active, .stage3:active {
    background-color: #D2CAEC;
    box-shadow: 0 1rem 2rem black;
  }

  .fas.fa-list-ul, .fas.fa-store, .fas.fa-mobile-alt {
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
  }

  .numbers {
    margin-left: -0.9rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    width: 2rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }

  /*----restaurants----*/
  h2.title__2__place {
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.8;
  }

  .new {
    position: absolute;
    right: 3rem;
    background-color: #99E2D0;
    color: #008766;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5%;
  }

  .pictures {
    width: 16rem;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  .restaurants__choices {
    background-color: #F2F2F2;
    height: 70rem;
    margin-top: 4rem;
    padding-top: 3rem;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    margin-left: 2rem;
    background-color: white;
    border-radius: 1rem;
    width: 16rem;
    height: 14rem;
    line-height: 0.4rem;
  }

  .mention__place {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .title__restaurant {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  a.link {
    text-decoration: none;
    color: black;
  }

  .text__position {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 459px) {
  .description__title {
    width: 100%;
    margin-left: 0;
  }

  .logo {
    width: 100%;
  }

  .place {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    align-items: center;
    width: 100%;
    height: 3rem;
  }

  .where {
    margin-right: 3rem;
  }

  i.fas.fa-map-marker-alt {
    padding-right: 1rem;
  }

  .description {
    width: 100%;
    color: gray;
    font-size: 1.5rem;
  }

  .exploration {
    background-color: #f6f6f6;
    padding: 1rem 1rem 3rem 1rem;
    text-align: center;
  }

  /*fonctionnement*/
  .stages {
    width: 85%;
    padding-left: 2rem;
  }

  .stage1, .stage2, .stage3 {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem -1rem #00000045;
  }

  .title {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: -0.5rem;
  }

  .stage1:active, .stage2:active, .stage3:active {
    background-color: #D2CAEC;
    box-shadow: 0 1rem 2rem black;
  }

  .fas.fa-list-ul, .fas.fa-store, .fas.fa-mobile-alt {
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
  }

  .numbers {
    margin-left: -0.9rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    width: 2rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }

  /*----restaurants----*/
  h2.title__2__place {
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.8;
  }

  .new {
    position: absolute;
    right: 2rem;
    background-color: #99E2D0;
    color: #008766;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5%;
  }

  .pictures {
    width: 20rem;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  .restaurants__choices {
    background-color: #F2F2F2;
    height: 70rem;
    margin-top: 4rem;
    padding-top: 3rem;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    margin-left: 2rem;
    background-color: white;
    border-radius: 1rem;
    width: 20rem;
    height: 14rem;
    line-height: 0.4rem;
  }

  .mention__place {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .title__restaurant {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  a.link {
    text-decoration: none;
    color: black;
  }

  .text__position {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
  .new {
    position: absolute;
    right: 2rem;
  }

  .pictures {
    width: 23rem;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    width: 23rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .new {
    position: absolute;
    right: 2rem;
  }

  .pictures {
    width: 21rem;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    width: 21rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 459px) {
  .new {
    position: absolute;
    right: 2rem;
  }

  .pictures {
    width: 25rem;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    width: 25rem;
  }
}
body {
  margin: 0 0 0 0;
  font-family: "roboto";
  width: 100%;
}

@media screen and (min-width: 460px) and (max-width: 500px) {
  .logo {
    width: 100%;
  }

  .place {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    align-items: center;
    width: 100%;
    height: 3rem;
  }

  .where {
    margin-right: 3rem;
  }

  i.fas.fa-map-marker-alt {
    padding-right: 1rem;
  }

  .description__title {
    width: 17rem;
    margin-left: 5rem;
    font-size: 1.7rem;
  }

  .description {
    width: 100%;
    color: gray;
    font-size: 1.5rem;
  }

  .exploration {
    background-color: #f6f6f6;
    padding: 1rem 1rem 3rem 1rem;
    text-align: center;
  }

  /*----fonctionnement-----*/
  .stages {
    margin-left: 3rem;
  }

  .title {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: -0.5rem;
  }

  .stage1, .stage2, .stage3 {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    width: 23rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem -1rem #00000045;
    font-size: 1.3rem;
  }

  .stage1:active, .stage2:active, .stage3:active {
    background-color: #D2CAEC;
    box-shadow: 0 1rem 2rem black;
  }

  .fas.fa-list-ul, .fas.fa-store, .fas.fa-mobile-alt {
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
  }

  .numbers {
    margin-left: -0.9rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    width: 2rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }

  /*----restaurants----*/
  h2.title__2__place {
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.8;
  }

  .new {
    position: absolute;
    right: 5rem;
    background-color: #99E2D0;
    color: #008766;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5%;
  }

  .pictures {
    width: 26rem;
    height: 13rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  .restaurants__choices {
    background-color: #F2F2F2;
    height: 87rem;
    margin-top: 4rem;
    padding-top: 3rem;
  }

  .palette__du__gout, .la__note__enchantee, .a__la__francaise, .le__delice {
    margin-left: 2rem;
    background-color: white;
    border-radius: 1rem;
    width: 26rem;
    height: 18rem;
    line-height: 0.4rem;
  }

  .mention__place {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .title__restaurant {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  a.link {
    text-decoration: none;
    color: black;
  }

  .text__position {
    margin-left: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
