
   
 footer
 {
     
background-color: $background-footer; 
height: 15rem;
 }
 h3.title__footer
 {
     font-family: "Shrikhand";
     padding-top: 2rem;
     padding-bottom: 1rem;
     margin: 0 0 0 0;
     color:$color-text-footer;
 }

 
 .footer__content
 {
     margin-left: 2rem;
    
 }
 .footer__service1,.footer__service2,.footer__service3,.footer__service4
 {
   color:$color-text-footer;  
   font-weight: normal;
   padding-bottom: 0.5rem;
 }
 i.fas.fa-utensils
 {
     padding-right: 1rem;
     
 }
 i.fas.fa-hands-helping
 {
     padding-right: 0.5rem;
 }
 a.contact
 {
     text-decoration: none;
     color:$color-text-footer;
     margin: 0 0 0 0;
     
 }
