

 .stages {
    display: grid;
    grid-template-rows: repeat(4,0fr);
    grid-row-gap: 1.5rem;
grid-template-areas: "a"
                     "b"
                     "c"
                     "d";
}
.title
{ grid-area: a;}
   
.stage1{
    grid-area: b;  
}
.stage2{
    grid-area: c;
}
.stage3{
    grid-area: d;
}




.restaurants__choices
{
    display: grid;
    grid-template-rows: repeat(5,0fr);
       row-gap: 2rem;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e";
}
.title__2
{
    grid-area: a;   
}

.palette__du__gout
{
    grid-area: b;
}
.la__note__enchantee
{
    grid-area: c;
   
}
.a__la__francaise
{
    grid-area: d;  
}
.le__delice
{
    grid-area: e;
}


.detail
{
    
   display: grid;
   width: 100%;
   grid-template-rows: repeat(2,1fr);
   grid-template-areas: "a a"
                        "b c"; 
}
p.detail__name
{
    grid-area: a;
}
p.detail__name__description
{
    grid-area: b;
}
p.detail__name__description__price
{
    grid-area: c;}

   //*--------version desktop fonctionnement-----*//
   @media screen and  (min-width:1024px)
  { 
      .stages {
    display: grid;
    grid-template-rows: repeat(1,4fr);
    grid-row-gap: 2rem;
grid-template-areas: "a b c d";
}
.title
{ grid-area: a;}
   
.stage1{
    grid-area: b;  
}
.stage2{
    grid-area: c;
}
.stage3{
    grid-area: d;
}

.restaurants__choices
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
       row-gap: 0vw;
       column-gap: 0.5rem;
    grid-template-areas: "a a a a"
                         "b c d e";
}
.title__2
{
    grid-area: a;   
}

.palette__du__gout
{
    grid-area: b;
}
.la__note__enchantee
{
    grid-area: c;
   
}
.a__la__francaise
{
    grid-area: d;  
}
.le__delice
{
    grid-area: e;
}


.footer__content{
    display: grid;
grid-template-areas: "a a a a"
                     "b c d e";}


.title__footer
{
    grid-area: a;
}
.footer__service1
{
    grid-area: b;
}
.footer__service2{
    grid-area: c;
}
.footer__service3{
    grid-area: d;
}
.footer__service4
{
    grid-area: e;
}
//*---page restaurant version desktop--*//

.menu
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
       row-gap: 1rem;
       column-gap: 1rem;
    grid-template-areas: "a b c";}


.menu__choice1
{
    grid-area: a;
}
.menu__choice2{
    grid-area: b;

}

.menu__choice3
{
    grid-area: c;
    
}
  }
//*----breakpoint pour ne pas casser la lisibilité*//

@media screen and (min-width:1025px) and (max-width:1310px)

{
    
    .menu
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
           row-gap: 1rem;
           column-gap: 4rem;
        grid-template-areas: "a b"
                             "c c";}
    
    
    .menu__choice1
    {
        grid-area: a;
        width: 20rem;
    }
    .menu__choice2{
        grid-area: b;
        width: 20rem;
    
    }
    
    .menu__choice3
    {
        grid-area: c;
        width: 20rem;
        margin-left: 5rem;
    }



}






  @media screen and (min-width:501px) and (max-width:1023px)
  {
    .stages {
        display: grid;
        grid-template-rows: repeat(1,4fr);
        grid-row-gap: 1rem;
    grid-template-areas: "a"
                         "b"
                         "c" 
                         "d";
    
    }
    .title
    { grid-area: a;}
       
    .stage1{
        grid-area: b;  
    }
    .stage2{
        grid-area: c;
    }
    .stage3{
        grid-area: d;
    }

    .restaurants__choices
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
       row-gap: 2rem;
       column-gap: 0;
    grid-template-areas: "a a"
                         "b c"
                         "d e";
}
.title__2
{
    grid-area: a;   
}

.palette__du__gout
{
    grid-area: b;
}
.la__note__enchantee
{
    grid-area: c;
   
}
.a__la__francaise
{
    grid-area: d;  
}
.le__delice
{
    grid-area: e;
}

.footer__content{
    display: grid;
grid-template-areas: "a a"
                     "b c" 
                     "d e";}


.title__footer
{
    grid-area: a;
}
.footer__service1
{
    grid-area: b;
}
.footer__service2{
    grid-area: c;
}
.footer__service3{
    grid-area: d;
}
.footer__service4
{
    grid-area: e;
}



  }