header
      {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 3rem;
       padding-top:1rem;
       padding-bottom:1rem;
       width: 100%;
      
    }
    
      

      .back
      {
          position: absolute;
          left:1rem;
          top: 1.7rem;
      }