

/*-----animation chargement des menus---*/

 .choice1
{transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 1000ms;
    animation-fill-mode: both; 
   
;}

.choice2{
    transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 1000ms;
    animation-fill-mode: both; 
    animation-delay: 300ms;
}
.choice3{
    animation-delay: 90ms;
    transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 1000ms;
    animation-fill-mode: both; 
    animation-delay: 700ms;
}
.choice4{
transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 2000ms;
    animation-fill-mode: both; 
    animation-delay: 200ms;}



@keyframes plats-progress {
    from {
        opacity:0;
        transform: translateY(10vw);
    }
    to {
        opacity:1;
        transform: translateY(0vw);
    }
}
/*-------------animation plat---------*/


//*animation rotation de l'icône*//
    i.fas.fa-check-circle{
        color: white;
        position: absolute;
        font-size: 5vw;
        top: 50%;
        left: 50%;
        margin: -2vw;}
    
    
    i.fas.fa-check-circle:hover{
        color: white;
        position: absolute;
        font-size: 5vw;
        top: 50%;
        left: 50%;
        margin: -2vw;
    }
    .choice1:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }
    .choice2:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }

    .choice3:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }
    .choice4:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }


//*animation carré vert sur le côté au survol*//


.check {
   
    
    background-color: $color-tertiary;
    position: absolute;
    color: #fff;
    border-radius: 0 2vw 2vw 0;
    cursor: pointer;
    height: 100%;
    width: 18vw;
    
    top: 0;
    right: -20vw;}


.choice1,.choice2,.choice3,.choice4{
    position: relative;
    overflow: hidden;}

    .choice1:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }
    .choice2:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }
    .choice3:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }
    .choice4:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }

    @keyframes mouvement1 {
        from {right: -30vw;}
        to {right: 0vw;}
    }
    .choice1:hover > .detail{
        animation: mouvement2 0.3s linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }
    @keyframes mouvement2 { 
        from {right: 0;}
        to {right: -30vw;}
    }
   

  
   //*----animation texte coupure----*//
  
