

/*-----animation chargement des menus---*/

 .choice1
{transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 1000ms;
    animation-fill-mode: both; 
   
;}

.choice2{
    transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 1000ms;
    animation-fill-mode: both; 
    animation-delay: 300ms;
}
.choice3{
    animation-delay: 90ms;
    transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 1000ms;
    animation-fill-mode: both; 
    animation-delay: 700ms;
}
.choice4{
transform-origin: bottom;
    animation-name: plats-progress;
    animation-duration: 2000ms;
    animation-fill-mode: both; 
    animation-delay: 200ms;}



@keyframes plats-progress {
    from {
        opacity:0;
        transform: translateY(10vw);
    }
    to {
        opacity:1;
        transform: translateY(0vw);
    }
}
/*-------------animation plat---------*/


//*animation rotation de l'icône*//
    i.fas.fa-check-circle{
        color: white;
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        margin: -1rem;
    
}
    i.fas.fa-check-circle:active{
        color: white;
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        margin: -1rem;
    }
    .choice1:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }
    .choice2:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }

    .choice3:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }
    .choice4:hover i.fas.fa-check-circle{
        transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 0.5s linear;
        -moz-transition:    -moz-transform 0.5s linear;
        -ms-transition:     -ms-transform 0.5s linear;
        -o-transition:      -o-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
    }

    @media screen and (min-width:1024px){
    i.fas.fa-check-circle{
        font-size: 1rem;
    top: 85%;
    left: 60%;}

    .check
    {
        width: 3rem;
          background-color: $color-tertiary;
    position: absolute;
    color: #fff;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    height: 100%;
    top: 0;
    right: -5rem
    }
    }

//*animation carré vert sur le côté au survol*//

@media screen and (max-width:500px){
.check {
   
    
    background-color: $color-tertiary;
    position: absolute;
    color: #fff;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    height: 100%;
    width: 4rem;
    
    top: 0;
    right: -5rem;}

}
.choice1,.choice2,.choice3,.choice4{
    position: relative;
    overflow: hidden;}

    .choice1:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }
    .choice2:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }
    .choice3:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }
    .choice4:hover > .check
    {
        animation: mouvement1 0.3s linear;
        animation-delay:0s;
        animation-fill-mode: forwards;
    }

    @keyframes mouvement1 {
        from {right: -6rem;}
        to {right: 0rem;}
    }

    .detail:hover  .detail__name__description__price{
        animation: mouvement2 0.3s linear;
        animation-fill-mode: forwards;
    }
    @keyframes mouvement2 { 
        from {right: 15px;}
        to {right: 22%;}
    }
    .detail__name__description__price{
        animation: mouvement3 0.4s forwards;
        margin-right: 0.5rem;
    }
    @keyframes mouvement3 { 
        from {right: 22%;}
        to {right: 15px;}
    }
   

  
   //*----animation texte coupure----*//
  
   .detail__name__description{
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    animation: textWidthTwo 0.5s linear;
}
@keyframes textWidthTwo {
    0% {
        width: 65%;
    }
    50% {
        width: 85%;
    }
    100%{
        width: 90%;
    }
}
.detail:hover  .detail__name__description{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 65%;
    animation: textwidth 0.4s linear;
}
@keyframes textwidth {
    0% {
        width: 90%;
    }
    50% {
        width: 75%;
    }
    100% {
        width: 65%;
    }  
}

