.btn__exploration{
    padding: 1.2rem 2rem 1.2rem 2rem;
    border-radius: 2rem;
    color: #fff;
    border: none;
    background: linear-gradient(to bottom,$color-secondary,$color-primary);
    box-shadow: 0 1rem 1rem -1rem #000;
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1.2rem;
   
}

.btn__order
{
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    color: #fff;
    border: none;
    background: {image: linear-gradient(to bottom,$color-secondary,$color-primary);};
    box-shadow: 0 1rem 1rem -1rem #000;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: 7rem;

}

.btn__order:hover, .btn__exploration:hover{
    filter: brightness(1.2);
    box-shadow: 0 1rem 2rem  black}
