//*-----page d'accueil---*//


@media screen and (min-width:1024px) 
{
    header
      {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 6rem;
       padding-top:0;
       padding-bottom:0;
       width: 100%;
      }

      .place{
          background-color: #eaeaea;
          width: 100%;
          height: 3rem;
      }
      .fa-map-marker-alt
      {
          padding-right: 1rem;
      }
.where
{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

     

/*--exploration---*/



.exploration{
   
background-color: #f6f6f6;
height: 0;
    padding: 4rem 0rem 10rem 1rem;
    text-align: center;
    display: grid;
    grid-template-areas: "a c"
                         "b c";
    }

.description__title
{
    grid-area: a;
    width: 100%;
    font-size: 1rem;
}

.description
{
    grid-area: b;
    width: 100%;
   
    color: gray;
    font-size: 1rem;
}

.btn__exploration{
    grid-area: c;
    width: 15rem;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 2rem;
}

//----fonctionnement----//

.stages{
    margin-top: 3rem;
}

.title
 {  font-size: 1.3rem;
     margin-bottom: 0;
     margin-top: 0;
     margin-left: 1rem;
    margin-top:1rem;}
 
 
 
 .stage1, .stage2, .stage3
 {
   display: flex;
     align-items: center;
     background-color:$background-meal;
     width: 14rem;
     height: 3rem;
     padding: 1rem 1rem 1rem 1rem;
     border-radius: 2rem;
     box-shadow: 0 1rem 1rem -1rem #00000045;
     font-size: 0.9rem;  
 }
 .stage1:hover,.stage2:hover,.stage3:hover{
   background: {image: linear-gradient(to right,$color-tertiary,$color-secondary,$color-primary) ;}
    box-shadow: 0 1rem 2rem  black;
 }
 .fas.fa-list-ul, .fas.fa-store, .fas.fa-mobile-alt
 {
     padding-left: 1rem;
     padding-right: 1rem; 
     color: gray;
 }
 
 .numbers{
    margin-left: -2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    width: 2.5rem;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    align-items: center;

 }
 
 //*---restaurants--*//

 .title__2__place
 {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.5rem;

 }
 .restaurants__choices{
    background-color: #F6F6F6;
    margin-top: 2rem;
    padding-left: 2rem;
    height: 23rem;
    
 }
 .pictures
      {
        width: 14rem;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;

          }


          .new
          {
              position: absolute;
             right: 1rem;
              background-color:$color-tertiary;
              color: $color-text-new;
              padding:0.5rem 1rem 0.5rem 1rem;
              border-radius: 5%;
          }

          .palette__du__gout, .la__note__enchantee, .a__la__francaise,.le__delice{
            margin-left: 0vw;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 14rem;
    height: 14rem;
    line-height: 1.4rem;
    position: relative;
           
        }

        .palette__du__gout:hover,  .a__la__francaise:hover{
            background: {image: linear-gradient(to left,$color-tertiary,$color-primary);}}
            

            .la__note__enchantee:hover,.le__delice:hover{
                background: {image: linear-gradient(to right,$color-secondary,$color-tertiary);}}
            
            

        .mention__place{
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
        }
        .title__restaurant
        {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 1rem;
        }
        a.link
        {
            text-decoration: none;
            color: black;
        }
        .text__position
        {
            margin-left: 1rem;
        }
      

footer {
    margin-top: 0;
height: 12rem;}


h3.title__footer
{
    display: flex;
    justify-content: start;
    padding-top:1rem;
    padding-bottom: 2rem;
}

i.fas.fa-utensils
 {
     padding-right: 1rem;
     
 }
 i.fas.fa-hands-helping
 {
     padding-right: 1rem;
 }
 a.contact
 {
     text-decoration: none;
     color:$color-text-footer;
     margin: 0 0 0 0;
     
 }

//*----page restaurants----*


.btn__order
{
    margin-left: 20rem;
    font-size: 2rem;
    padding:1rem 2rem 2rem 2rem;
}

}




@media screen and (min-width:1400px) 
{

    .menu__picture
    {
        height: 30rem;
        object-fit: cover;
    }
    .pictures
      {
        width: 20rem;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}


.palette__du__gout, .la__note__enchantee, .a__la__francaise,.le__delice{
    margin-left: 0vw;
background-color: white;
border-radius: 1rem 1rem 1rem 1rem;
width: 20rem;
height: 14rem;
line-height: 1.4rem;
position: relative;
}


i.fas.fa-check-circle
    {
        position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: xx-large;
    }
    .check
    {
        width: 5rem;
    }

.btn__order
{margin-left: 45rem;}
}

@media screen and (min-width:1150px) and (max-width:1399px)
{
    .pictures
    {
      width: 17rem;
  height: 10rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.palette__du__gout, .la__note__enchantee, .a__la__francaise,.le__delice{
    margin-left: 0vw;
background-color: white;
border-radius: 1rem 1rem 1rem 1rem;
width: 17rem;
height: 14rem;
line-height: 1.4rem;
position: relative;
}

}


@media screen and (min-width:2500px) /*page accueil*/
{
.place{
    height:5rem;
}
.where
{
    font-size: 2rem;
    padding-top: 1.4rem;
}
    .exploration
    {
        height: 5rem;
    }
    .btn__exploration {
        grid-area: c;
        width: 28rem;
        font-size: 2.2rem;
        height: 8rem;}

    .description__title
    {
        font-size: 2rem;
    }
.description
{
    font-size: 2rem;
}
.title
{font-size: 2.5rem;
margin-top: 2rem;}
.numbers
{
    width: 3.5rem;
    height: 1.5rem;
    font-size: 2rem;
}

.stages
{
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.stage1, .stage2, .stage3 {
    width: 30rem;
    font-size: 2rem;
    height: 5rem;
}


    i.far.fa-heart
    {
        font-size: 2rem;
    }
    .new
    {
        font-size: 2rem;
    }
.pictures
{
    width: 33rem;
    height: 20rem;
}

.palette__du__gout, .la__note__enchantee, .a__la__francaise,.le__delice{
    width: 33rem;
    height: 26rem;
    line-height: 2.4rem;
}

.restaurants__choices{
    height: 45rem;
}
.title__2__place
{
    font-size: 3.5rem;
    margin-bottom: 3rem;
}
.title__restaurant
{
    font-size: 2.2rem;
}

.mention__place{
    font-size: 2rem;
}

h3.title__footer
{
    font-size: 3rem;
}
.footer__service1, .footer__service2, .footer__service3, .footer__service4{
    font-size: 2rem;
}
footer
{
    height: 18rem;
}

/*pages resto*/

    .menu__picture
    {
        height: 30rem;
        object-fit:cover;
    }

    .choice1, .choice2, .choice3, .choice4{
        height: 7rem;
        margin-bottom: 2rem;
        line-height: 1.5rem;
    }

    p.detail__name
    {font-size: 2rem;
    margin-bottom: 1rem;}

    p.detail__name__description{
        font-size: 1.5rem;
    }
    .detail__name__description__price
    {
font-size: 1.8rem;
    }

    .check
    {
        width: 5rem;
    }

    i.fas.fa-check-circle
    {
        top:3.5rem
    }
h4{
    font-size: 2rem;
}

   .btn__order
   {
       margin-left: 70rem;
   } 
}


