
.menu__picture
{
    width: 100%;
}
.set__menu
{   position: relative;
    background-color:$background-meal;
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    padding: 1rem;
    padding-bottom: 3rem;

}
.choice1, .choice2, .choice3, .choice4{
background: white;
    border-radius: 1rem;
    line-height: 0.9rem;
    height: 5rem;
margin-bottom: 1rem;}

.detail
{
    margin-left: 1rem;
}
.detail__name__description__price{
    display: flex;
    align-items: flex-end;
    position: absolute;
    justify-content: flex-end;
    margin: 0;
    right: 1rem;
    top: 3rem;
}