/*--charte graphique--*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-meal:#F6F6F6;
$color-text-footer:white;
$background-footer:#353535;
$color-text-new:#008766;