/*--charte graphique--*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-meal:#F6F6F6;
$color-text-footer:white;
$background-footer:#353535;
$color-text-new:#008766;
$font-family-text:"roboto";
$font-family-title:"shrikhand";
$box-shadow-header: 0 8px 6px -6px #00000045;


